<template>
  <div class="home-wrapper">
    <bi-chart-cylinder-3-d />

    <b-button @click="changeData">Change Data</b-button>

    <p></p>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BiChartCylinder3D from '@/components/BiChartCylinder3D.vue'

export default {
  name: 'home',

  components: {
    BiChartCylinder3D,
  },

  methods: {
  }
}
</script>

<style scoped lang="scss">
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}
</style>
