<template>
  <div>
    <header-onixel />

    <breadcrumb />

    <product-item />

    <information-block />

    <related-products />

    <footer-region />
  </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue'
import ProductItem from '@/components/ProductItem.vue'
import HeaderOnixel from '@/components/HeaderOnixel.vue'
import FooterRegion from '@/components/FooterRegion.vue'
import RelatedProducts from '@/components/RelatedProducts.vue'
import InformationBlock from '@/components/InformationBlock.vue'

export default {
  name: 'ProductPage',

  components: {
    FooterRegion,
    Breadcrumb,
    ProductItem,
    HeaderOnixel,
    RelatedProducts,
    InformationBlock,
  },
}
</script>

<style scoped lang="scss">

</style>
