<template>
  <div class="home-wrapper">
    <header-znai-mesta class="header" />

    <profile-znai-mesta />
  </div>
</template>

<script>
import HeaderZnaiMesta from '@/components/HeaderZnaiMesta.vue'
import ProfileZnaiMesta from '@/components/ProfileZnaiMesta.vue'

export default {
  name: 'Test',

  components: {
    HeaderZnaiMesta,
    ProfileZnaiMesta,
  },
}
</script>

<style scoped lang="scss">
.home-wrapper {
  font-family: $roboto !important;
  position: relative;
}

.header {
  z-index: 99999 !important;
}
</style>
