<template>
  <div class="wrapper">
    <div class="background">
      <div class="developer">
        <div class="burger">
          <div align="center"><b>Карточный домик</b></div>

          <div class="logo">
            <div class="menu">
              <div align="center">Первый вариант.</div>
            </div>

            <div class="menu">
              <div align="center">Второй вариант.</div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Valeri',

  components: {
  },
}
</script>

<style scoped lang="scss">
.background {
  padding: 5%;
  height: 100%;
  background-color:#E0FFFF;
}

.wrapper {
  padding: 40px;
  height: 100%;
  background-color: #A9A9A9;
}

.developer {
  padding: 20px;
  height: 100%;
  background-color: #ADD8E6;
}

.burger {
  height: 100%;
  padding: 20px;
  font-size: 32px;
  background-color: #F08080;
}

.menu {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #D3D3D3;

  &:first-child {
    margin-right: 20px;
  }
}


.logo {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-height: calc(100% - 50px);
}

</style>
<template>
  <div class="header-wrapper">
    <div class="ul">CUSTOM CARE: 888-23-4567</div>
    <div class="ul-2">$US
     <fa icon="sort-down"
        class="icon" />
   </div>
  </div>
</template>

<script>

export default {
  name: 'HeaderOnixel',

  components: {
  },
}
</script>

<style scoped lang="scss">
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  background-color:#000000;
}

.ul {
  margin-left: 10%;
  font-size: 10px;
  color: #FFFFFF;
}

.ul-2 {
  padding: 10px;
  display: flex;
  border-right: 1px solid gray;
  align-items: flex-start;
  margin-right: 10%;
  font-size: 10px;
  color: #FFFFFF;
}

.icon {
  font-size: 7px;
  margin: 3px;
}
</style>
