<template>
  <div>
    <svg>
      <g transform="translate(480, 200)"></g>
    </svg>
  </div>
</template>

<script src="http://vizjs.org/viz.v1.3.0.min.js"></script>
<script>
import * as d3 from 'd3'

const data = [99, 150, 78, 25, 36, 92]

export default {
  name: 'BiPieChart3D',

  mounted() {
    let pie3d = viz.pie3d()

    .data([6.24,14.2,22.71,4.56,2.93,1.36])

    d3.select("g").call(pie3d);
  },
}
</script>

<style scoped lang="scss">
svg {
  margin: 25px;
}

path {
  fill: none;
  stroke: #76BF8A;
  stroke-width: 3px;
}
</style>
