<template>
  <div class="breadcrumb">
    <div class="burger">
      <div class="box">
          <fa icon="home"
              class="home" />

          <fa icon="angle-right"
              class="icon" />

        <div class ="text">Women</div>

          <fa icon="angle-right"
              class="icon" />

        <div class="text">Clothing</div>

          <fa icon="angle-right"
              class="icon" />

        <div class="text">Blouses & Shirts</div>

          <fa icon="angle-right"
              class="icon" />

        <div class="text">B.young</div>

          <fa icon="angle-right"
              class="icon" />

      <div class="text">Sofi Blouse</div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Breadcrumb',

  components: {
  },
}
</script>

<style scoped lang="scss">

.box {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
}

.icon {
  color: #928c8b;
  font-size: 12px;

  @media(max-width: 900px) {
    font-size: 11.5px;
  }

  @media(max-width: 800px) {
    font-size: 11px;
  }

  @media(max-width: 700px) {
    font-size: 10.4px;
  }

  @media(max-width: 600px) {
    font-size: 9.8px;
  }

  @media(max-width: 500px) {
    font-size: 9px;
  }
}

.text {
  color: #7a706d;
  padding: 2px 4px;
  font-size: 11px;
  cursor: pointer;

  @media(max-width: 900px) {
    font-size: 10.5px;
    padding: 1.8px 3.6px;
  }

  @media(max-width: 800px) {
    font-size: 10px;
    padding: 1.6px 3.2px;
  }

  @media(max-width: 700px) {
    font-size: 9.5px;
    padding: 1.4px 2.8px;
  }

  @media(max-width: 600px) {
    font-size: 9px;
    padding: 1.2px 2.4px;
  }

  @media(max-width: 500px) {
    font-size: 8.5px;
    padding: 1px 2px;
  }
}

.home {
  color: #79706D;
  font-size: 14px;
  cursor: pointer;
  margin-right: 4px;

  @media(max-width: 900px) {
    font-size: 13.5px;
  }

  @media(max-width: 800px) {
    font-size: 13px;
  }

  @media(max-width: 700px) {
    font-size: 12.5px;
    margin-right: 3.8px;
  }

  @media(max-width: 600px) {
    font-size: 12px;
    margin-right: 3.6px;
  }

  @media(max-width: 500px) {
    font-size: 11.5px;
    margin-right: 3.4px;
  }
}

.burger {
  width: 100%;
  display: flex;
  padding: 5px 0px;
  align-items: center;
  background-color: #FFFFFF;
  border-top: 1.5px solid #d6d6d6;
  border-bottom: 1.5px solid #d6d6d6;

  @media(max-width: 900px) {
    border-top: 1.4px solid #d6d6d6;
    border-bottom: 1.4px solid #d6d6d6;
    padding: 4.7px;
  }

  @media(max-width: 800px) {
    border-top: 1.3px solid #d6d6d6;
    border-bottom: 1.3px solid #d6d6d6;
    padding: 4.3px;
  }

  @media(max-width: 700px) {
    border-top: 1.2px solid #d6d6d6;
    border-bottom: 1.2px solid #d6d6d6;
    padding: 4px;
  }

  @media(max-width: 600px) {
    border-top: 1.1px solid #d6d6d6;
    border-bottom: 1.1px solid #d6d6d6;
    padding: 3.7px;
  }

  @media(max-width: 500px) {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 3.5px;
  }
}

.breadcrumb {
  width: 100%;
  padding: 0px 115px;
  background-color: #FFFFFF;

  @media(max-width: 950px) {
    padding: 0px 110px;
  }

  @media(max-width: 900px) {
    padding: 0px 100px;
  }

  @media(max-width: 850px) {
    padding: 0px 85px;
  }

  @media(max-width: 800px) {
    padding: 0px 75px;
  }

  @media(max-width: 750px) {
    padding: 0px 65px;
  }

  @media(max-width: 700px) {
    padding: 0px 55px;
  }

  @media(max-width: 650px) {
    padding: 0px 45px;
  }

  @media(max-width: 600px) {
    padding: 0px 35px;
  }

  @media(max-width: 500px) {
    padding: 0px 25px;
  }
}

</style>
