<template>
  <div class="popup-wrapper">
    <div class="menu-item
                active">
      Личный кабинет
    </div>

    <div class="menu-item">
      <span> Уведомления </span>

      <span class="notifications-sign"> </span>
    </div>

    <div class="menu-item">
      Сообщения
    </div>

    <div class="menu-item
                logout">
      Выход
    </div>
  </div>
</template>

<script>

export default {
  name: 'Dropdown',
}
</script>

<style scoped lang="scss">
.popup-wrapper {
  border-radius: 8px;
  transition: $animation;
  box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
  position: absolute !important;
  z-index: 999 !important;
  background-color: $white;
  opacity: 100% !important;
  padding: 20px 25px;
  padding-bottom: 35px;
  width: 165px;
  height: 170px;

  :first-child {
    margin-top: 0px;
  }

  :last-child {
    border: none !important;
  }
}

.menu-item {
  color: $grey-80;
  padding: 0px;
  margin-top: 5px;
  font-size: 14px;
  border-bottom: 1px solid $grey-20;
  transition: $animation;
  padding-bottom: 5px;
  cursor: pointer;

  &:hover {
    color: $yellow;
    transition: $animation;
  }
}

.active {
  font-weight: 500;
}

.logout {
  color: $grey-60;
}

.notifications-sign {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: $red-30;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 6.5px;
}
</style>
