<template>
  <div class="box">
      <div class="payment">
        <div class="accept">We accept</div>

        <progressive-background src="https://cdn1.savepice.ru/uploads/2020/1/6/b84eb42bff9a59fcf0c54435135f3f2a-full.png"
             class ="image-payment" />
    </div>

    <div class="burger">
      <div class="default-wrapper">
        <div class="information">
          <div class="title">Customer Service</div>

          <div class="text">
            <br>Contact</br>
            <br>FAQ</br>
            <br>Terms of payment</br>
            <br>Terms of sale</br>
            <br>Delivery terms and conditions</br>
            <br>Returns and Refunds</br>
          </div>
        </div>

        <div class="information">
          <div class="title">Information</div>

          <div class="text">
            <br>Affiliate</br>
            <br>Cookies</br>
            <br>How to Shop</br>
            <br>About Nelly</br>
            <br>Investor relations</br>
          </div>
        </div>

        <div class="information">
          <div class="title">Campaigns</div>

          <div class="text">
            <br>Evening dresses</br>
            <br>Makeup</br>
            <br>Fashion forward</br>
            <br>training clothes</br>
            <br>Special Occasion Dresses</br>
          </div>
        </div>

        <div class="information">
          <div class="title">Stores</div>

          <div class="text">
            <br>Paris</br>
            <br>New York</br>
            <br>London</br>
            <br>Madrid</br>
            <br>Tokio</br>
          </div>
        </div>


        <div class="information">
          <div class="title">Social</div>

          <div class="circle-wrapper">
            <div class="circle">
              <fa :icon="['fab','twitter']"
                  class="icon" />
              </div>

            <div class="circle">
              <fa :icon="['fab','pinterest']"
                  class="icon" />
              </div>

          <div class="circle">
            <fa :icon="['fab','facebook-f']"
                class="icon" />
            </div>
          </div>

          <div class="circle-wrapper">
            <div class="circle">
              <fa :icon="['fab','google-plus-g']"
                  class="icon" />
                </div>

          <div class="circle">
            <fa :icon="['fab','tumblr']"
                class="icon" />
            </div>

          <div class="circle">
            <fa :icon="['fab','vimeo-v']"
                class="icon" />
           </div>
         </div>
        </div>

        <div class="capacity">
          <img src="@/assets/svg/sh.svg" />
        </div>
      </div>

      <div class="information-wrapper">
        <div class="information">
          <div class="title">Customer Service</div>

          <div class="text">
            <br>Contact</br>
            <br>FAQ</br>
            <br>Terms of payment</br>
            <br>Terms of sale</br>
            <br>Delivery terms and conditions</br>
            <br>Returns and Refunds</br>
          </div>
        </div>

        <div class="information">
          <div class="title">Information</div>

          <div class="text">
            <br>Affiliate</br>
            <br>Cookies</br>
            <br>How to Shop</br>
            <br>About Nelly</br>
            <br>Investor relations</br>
          </div>
        </div>

        <div class="information">
          <div class="title">Campaigns</div>

          <div class="text">
            <br>Evening dresses</br>
            <br>Makeup</br>
            <br>Fashion forward</br>
            <br>training clothes</br>
            <br>Special Occasion Dresses</br>
          </div>
        </div>
      </div>


      <div class="information-wrapper">
        <div class="information-special">
          <div class="title">Stores</div>

          <div class="text">
            <br>Paris</br>
            <br>New York</br>
            <br>London</br>
            <br>Madrid</br>
            <br>Tokio</br>
          </div>
        </div>

        <div class="information-specific">
          <div class="title">Social</div>

          <div class="circle-wrapper">
            <div class="circle">
              <fa :icon="['fab','twitter']"
                  class="icon" />
              </div>

            <div class="circle">
              <fa :icon="['fab','pinterest']"
                  class="icon" />
              </div>

          <div class="circle">
            <fa :icon="['fab','facebook-f']"
                class="icon" />
            </div>
          </div>

          <div class="circle-wrapper">
            <div class="circle">
              <fa :icon="['fab','google-plus-g']"
                  class="icon" />
                </div>

          <div class="circle">
            <fa :icon="['fab','tumblr']"
                class="icon" />
            </div>

          <div class="circle">
            <fa :icon="['fab','vimeo-v']"
                class="icon" />
           </div>
         </div>
        </div>

        <div class="capacity">
          <img src="@/assets/svg/sh.svg" />
        </div>
      </div>

      <div class="small-size">
        <div class="last-version-indent">
          <div class="information">
            <div class="title">Customer Service</div>

            <div class="text">
              <br>Contact</br>
              <br>FAQ</br>
              <br>Terms of payment</br>
              <br>Terms of sale</br>
              <br>Delivery terms and conditions</br>
              <br>Returns and Refunds</br>
            </div>
          </div>

          <div class="information">
            <div class="title">Information</div>

            <div class="text">
              <br>Affiliate</br>
              <br>Cookies</br>
              <br>How to Shop</br>
              <br>About Nelly</br>
              <br>Investor relations</br>
            </div>
          </div>
        </div>

        <div class="last-version">
          <div class="information">
            <div class="title">Campaigns</div>

            <div class="text">
              <br>Evening dresses</br>
              <br>Makeup</br>
              <br>Fashion forward</br>
              <br>training clothes</br>
              <br>Special Occasion Dresses</br>
            </div>
          </div>

          <div class="information-size">
            <div class="title">Stores</div>

            <div class="text">
              <br>Paris</br>
              <br>New York</br>
              <br>London</br>
              <br>Madrid</br>
              <br>Tokio</br>
            </div>
          </div>
        </div>

         <div class="position-text">
          <div class="last-version-special">
            <div class="title-special">Social</div>

            <div class="circle-wrapper">
              <div class="circle">
                <fa :icon="['fab','twitter']"
                    class="icon" />
                </div>

              <div class="circle">
                <fa :icon="['fab','pinterest']"
                    class="icon" />
                </div>

            <div class="circle">
              <fa :icon="['fab','facebook-f']"
                  class="icon" />
              </div>
            </div>

            <div class="circle-wrapper">
              <div class="circle">
                <fa :icon="['fab','google-plus-g']"
                    class="icon" />
                  </div>

            <div class="circle">
              <fa :icon="['fab','tumblr']"
                  class="icon" />
              </div>

            <div class="circle">
              <fa :icon="['fab','vimeo-v']"
                  class="icon" />
             </div>
           </div>

           <div class="capacity">
             <img src="@/assets/svg/sh.svg" />
           </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-wrapper">
      <div class="footer">
        <div class="text-wrapper">Privacy & Cookies</div>
        <div class="text-wrapper">Terms & Conditions</div>
        <div class="text-wrapper">Accessibility</div>
        <div class="text-wrapper">Store Directory</div>
        <div class="text-wrapper">About Us</div>
      </div>

      <div class="copyright">
        <div class="address">
          <fa :icon="['far','copyright']"
              class="icon-special" />

          LookShop.com
        </div>

        <div>All Rights Reserved</div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'FooterRegion',

  components: {
  },
}
</script>

<style scoped lang="scss">

.information-specific {
  display: none;

  @media(max-width: 1000px) {
    width: 126px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }
}

.title-special {
  display: flex;
  color: #544f4d;
  font-size: 16px;
  cursor: default;
  font-weight: 520;
  margin-bottom: 5px;
  justify-content: center;

  @media(max-width: 1000px) {
    font-size: 15px;
  }

  @media(max-width: 850px) {
    font-size: 14px;
  }

  @media(max-width: 750px) {
    font-size: 13px;
  }

  @media(max-width: 650px) {
    font-size: 12px;
  }

  @media(max-width: 550px) {
    font-size: 11px;
  }
}

.information-size {
  width: 86px;
  display: flex;
  flex-direction: column;
}

.last-version-indent {
  display: none;

  @media(max-width: 500px) {
    display: flex;
    justify-content: space-between;
  }
}

.position-text {
  display: none;

  @media(max-width: 500px) {
    display: flex;
    justify-content: space-around;
  }
}

.last-version-special {
  display: none;

  @media(max-width: 500px) {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }
}

.small-size {
  display: none;

  @media(max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}

.last-version {
  display: none;

  @media(max-width: 500px) {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
  }
}

.information-special {
  display: none;

  @media(max-width: 1000px) {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
  }
}

.default-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between !important;

  @media(max-width: 1000px) {
    display: none;
  }
}

.information-wrapper {
  display: none;

  @media(max-width: 1000px) {
    display: flex;
    justify-content: space-between;
  }

  @media(max-width: 500px) {
    display: none;
  }
}

.accept {
  font-size: 12px;
  white-space: pre;

  @media(max-width: 700px) {
    font-size: 11px;
  }

  @media(max-width: 500px) {
    font-size: 10px;
  }
}

.capacity {
  display: flex;
  align-items: center;

  @media(max-width: 1000px) {
    display: none;
  }
}

.address {
  display: flex;
  margin-bottom: 3px;
  align-items: center;
  justify-content: flex-end;
}

.copyright {
  display: flex;
  color: #8d8d8d;
  flex-direction: column;
  justify-content: center !important;
}

.icon-special {
  color: #8d8d8d;
  font-size: 12px;
  margin-right: 1px;
}

.text-wrapper {
  cursor: pointer;
  margin: 25px 0px;
  padding: 0px 10px;
  border-right: 1px solid #4d4d4d;

  &:first-child {
    padding-left: 0px !important;
  }

  &:last-child {
    border-right: 1px solid #000000;
  }

  @media(max-width: 900px) {
    margin: 23px 0px;
    padding: 0px 8px;
  }

  @media(max-width: 800px) {
    margin: 21px 0px;
    padding: 0px 6px;
  }

  @media(max-width: 700px) {
    margin: 19px 0px;
    padding: 0px 4px;
  }

  @media(max-width: 600px) {
    margin: 17px 0px;
    padding: 0px 2.5px;
  }

  @media(max-width: 500px) {
    margin: 15px 0px;
    padding: 0px 1px;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  color: #8d8d8d;
  font-size: 10px;
  padding: 0px 115px;
  background-color: #000000;
  justify-content: space-between;

  @media(max-width: 950px) {
    padding: 0px 110px;
  }

  @media(max-width: 900px) {
    font-size: 9px;
    padding: 0px 100px;
  }

  @media(max-width: 850px) {
    padding: 0px 85px;
  }

  @media(max-width: 800px) {
    padding: 0px 75px;
  }

  @media(max-width: 750px) {
    padding: 0px 65px;
  }

  @media(max-width: 700px) {
    font-size: 8px;
    padding: 0px 55px;
  }

  @media(max-width: 650px) {
    padding: 0px 45px;
  }

  @media(max-width: 600px) {
    font-size: 7px;
    padding: 0px 35px;
  }

  @media(max-width: 500px) {
    padding: 0px 25px;
  }

  @media(max-width: 450px) {
    padding: 0px 20px;
  }
}

.circle-wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: flex-start;
}

.circle {
  width: 35px;
  height: 35px;
  display: flex;
  margin: 0px 8px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4c4c4b;

  &:first-child {
    margin-left: 0px !important;
  }

  &:last-child {
    margin-right: 0px !important;
  }

  @media(max-width: 1000px) {
    width: 33px;
    height: 33px;
  }

  @media(max-width: 800px) {
    width: 31px;
    height: 31px;
  }
}

.icon {
  color: #ffffff;
  font-size: 18px;

  @media(max-width: 1000px) {
    font-size: 17px;
  }

  @media(max-width: 800px) {
    font-size: 16px;
  }
}

.text {
  color: #8b8887;
  font-size: 10px;
  cursor: default;
  line-height: 0.9;
}

.title {
  color: #544f4d;
  font-size: 16px;
  cursor: default;
  font-weight: 520;
  margin-bottom: 5px;

  @media(max-width: 1000px) {
    font-size: 15px;
  }

  @media(max-width: 850px) {
    font-size: 14px;
  }

  @media(max-width: 750px) {
    font-size: 13px;
  }

  @media(max-width: 650px) {
    font-size: 12px;
  }

  @media(max-width: 550px) {
    font-size: 11px;
  }
}

.information {
  display: flex;
  flex-direction: column;
}

.image-payment {
  cursor: pointer;
  max-height: 20px;
  margin-left: 20px;
}

.payment {
  width: 30%;
  display: flex;
  cursor: default;
  padding: 13px 0px;
  align-items: center;
  justify-content: center;

  @media(max-width: 1100px) {
    width: 40%;
  }

  @media(max-width: 1000px) {
    padding: 12px 0px;
  }

  @media(max-width: 900px) {
    width: 50%;
    padding: 12px 0px;
  }

  @media(max-width: 750px) {
    width: 60%;
    padding: 11.5px 0px;
  }

  @media(max-width: 600px) {
    width: 70%;
    padding: 11px 0px;
  }

  @media(max-width: 500px) {
    width: 90%;
    padding: 11px 25px;
  }
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
}

.burger {
  width: 100%;
  display: flex;
  padding: 20px 115px;
  background-color: #ededed;
  justify-content: space-between;

  @media(max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }

  @media(max-width: 950px) {
    padding: 19px 110px;
  }

  @media(max-width: 900px) {
    padding: 18px 100px ;
  }

  @media(max-width: 850px) {
    padding: 17px 85px;
  }

  @media(max-width: 800px) {
    padding: 16px 75px;
  }

  @media(max-width: 750px) {
    padding: 15px 65px;
  }

  @media(max-width: 700px) {
    padding: 14px 55px;
  }

  @media(max-width: 650px) {
    padding: 13px 45px;
  }

  @media(max-width: 600px) {
    padding: 12px 35px;
  }

  @media(max-width: 500px) {
    padding: 11px 25px;
  }
}
</style>
