<template>
  <div class="header-wrapper">
    <div class="wrapper-1">
      <router-link to="/znaimesta"
                   class="logo-wrapper">
        <img src="@/assets/zm/svg/logo-zm.svg"
             class="logo" />
      </router-link>

      <div class="form-wrapper">
        <div class="form">
          <div class="place"> Санкт-Петербург </div>

          <div class="type"> Вид отдыха </div>
        </div>

        <div class="enter-button">
          <img src="@/assets/zm/svg/arrow-right-1.svg" />
        </div>
      </div>
    </div>

    <div class="menu-wrapper">
      <div class="menu-item">
        <img src="@/assets/zm/svg/plus.svg"
             class="plus" />

        <div class=""> Добавить </div>
      </div>

      <div class="menu-item-special"
           @click="$eventBus.$emit('toggleDropdown')">
        <div class="status-sign"> </div>

        <div class="profile-pic" />

        <dropdown class="dropdown"
                  :class="{ 'dropdown-active': activeDropdown }" />
      </div>

      <div class="menu-item
                  search-icon">
        <img src="@/assets/zm/svg/search.svg" />
      </div>

      <div class="menu-item">
        <img src="@/assets/zm/svg/bars.svg" />
      </div>
    </div>

    <div class="menu-sign">
      <img @click="$eventBus.$emit('toggleMobileMenu')"
           src="@/assets/zm/svg/bars.svg"
           :class="{ 'hidden-sign': closeButton }"
           class="burger" />

      <img @click="$eventBus.$emit('toggleMobileMenu')"
           src="@/assets/svg/close-sign.svg"
           :class="{ 'close-sign': closeButton }"
           class="hidden-close" />
    </div>

    <mobile-menu-znai-mesta :class="{ 'menu-active': activeMobileMenu }" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Dropdown from '@/components/Dropdown.vue'
import MobileMenuZnaiMesta from '@/components/MobileMenuZnaiMesta.vue'

export default {
  name: 'HeaderZnaiMesta',

  components: {
    Dropdown,
    MobileMenuZnaiMesta,
  },

  data: () => ({
    closeButton: false,
    activeDropdown: false,
    activeMobileMenu: false,
  }),

  computed: {
    ...mapState(['apiServer']),
  },

  created () {
    this.$eventBus.$on('toggleMobileMenu', () => {
      this.activeMobileMenu = !this.activeMobileMenu
      this.closeButton = !this.closeButton
    }),

    this.$eventBus.$on('toggleDropdown', () => {
      this.activeDropdown = !this.activeDropdown
    })
  },
}
</script>

<style scoped lang="scss">
.header-wrapper {
  position: relative;
  width: 100%;
  height: 99px;
  min-height: 99px;
  background-color: $blue-90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 429px;
  box-shadow: 0 2px 6px 0 rgba(15, 33, 53, 0.2);
  z-index: 1;

  @media(max-width: 1290px) {
    padding: 0px 130px;
  }

  @media(max-width: 1100px) {
    padding: 0px 60px;
  }

  @media(max-width: 940px) {
    padding: 0px 20px;
  }
}

.logo-wrapper {

}

.logo {
  cursor: pointer;
}

.dropdown {
  transition: $animation;
  display: none;
  margin-top: 123px;
}

.dropdown-active {
  transition: $animation;
  display: block;
}

.wrapper-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-wrapper {
  margin-left: 61.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 29px;

  @media(max-width: 576px) {
    display: none;
  }
}

.form {
  padding-top: 5px;
  padding-bottom: 4px;
  color: $grey-80;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  border-radius: 50px 0 0 50px;
  height: 29px;
  width: 325px;

  @media(max-width: 1100px) {
    width: 250px;
  }
}

.place {

}

.type {
  padding-left: 20px;
  margin-right: 35px;
  border-left: 1px solid $grey-20;
  color: $grey-60;

  @media(max-width: 1100px) {
    margin-right: 10px;
  }
}

.enter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  width: 33px;
  height: 29px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }
}

.menu-wrapper {
  display: flex;

  @media(max-width: 876px) {
    display: none;
  }
}

.menu-item {
  color: $white;
  cursor: pointer;
  transition: $animation;
  margin-left: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }
}

.menu-item-special {
  color: $white;
  cursor: pointer;
  transition: $animation;
  margin-left: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-icon {
  margin-left: 54px;
  margin-right: 21px;
}

.plus {
  transition: $animation;
  margin-right: 9px;
}

.menu-sign {
  display: none;
  transition: $animation;

  @media(max-width: 876px) {
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 9999 !important;
  }

  &:hover {
    transition: $animation;
    cursor: pointer;
    background-color: $yellow;
  }
}

.profile-pic {
  width: 55px;
  height: 55px;
  background-image: url('../assets/zm/profile-pic.jpg');
  background-position: center center;
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid $green-10;
  transition: $animation;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }
}

.burger {
  z-index: 9999;
  display: none;
  cursor: pointer;
  transition: $animation;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }

  &.hidden-sign {
    display: none;
    transition: $animation;
  }

  @media(max-width: 876px) {
    display: block;
  }
}

.mobile-menu {
  transition: all 0.4s ease-in-out;
  margin-right: -440px;

  &.menu-active {
    margin-right: 0px !important;
    transition: all 0.4s ease-in-out;
  }

  @media (min-width: 876px) {
    display: none;
  }
}

.status-sign {
  content: '';
  width: 10px;
  height: 10px;
  background-color: $red-30;
  border-radius: 50%;
  position: absolute;
  z-index: 999999;
  margin-left: 40px;
  margin-top: 20px;
}

.hidden-close {
  cursor: pointer;
  display: none;
  transition: $animation;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }

  &.close-sign {
    transition: $animation;
    display: block;
    z-index: 9999 !important;

    @media(max-width: 876px) {
      z-index: 9999;
      display: block !important;
    }
  }
}
</style>
