<template>
  <div class="header-wrapper">
    <router-link to="/"
                 class="logo-wrapper">
      <img src="@/assets/svg/logo.svg"
           class="logo" />
    </router-link>

    <div class="menu-wrapper">
      <div class="menu-item">
        О компании
      </div>

      <div class="menu-item">
        Кейсы
      </div>

      <div class="menu-item">
        Контакты
      </div>
    </div>

    <div class="menu-sign">
      <img @click="$eventBus.$emit('toggleMobileMenu')"
           src="@/assets/svg/burger-menu.svg"
           :class="{ 'hidden-sign': closeButton }"
           class="burger" />

      <img @click="$eventBus.$emit('toggleMobileMenu')"
           src="@/assets/svg/close-sign.svg"
           :class="{ 'close-sign': closeButton }"
           class="hidden-close" />
    </div>

    <mobile-menu :class="{ 'menu-active': activeMobileMenu }" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MobileMenu from '@/components/MobileMenu.vue'

export default {
  name: 'HeaderRegion',

  components: {
    MobileMenu,
  },

  data: () => ({
    closeButton: false,
    activeMobileMenu: false,
  }),

  computed: {
    ...mapState(['apiServer']),
  },

  created () {
    this.$eventBus.$on('toggleMobileMenu', () => {
      this.activeMobileMenu = !this.activeMobileMenu
      this.closeButton = !this.closeButton
    })
  },
}
</script>

<style scoped lang="scss">
.header-wrapper {
  width: 100%;
  height: 100px;
  min-height: 100px;
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  box-shadow: 0 2px 6px 0 rgba(15, 33, 53, 0.2);

  @media(max-width: 999px) {
    padding: 0px 20px 0px 30px;
  }
}

.logo-wrapper {

}

.logo {
  cursor: pointer;
}

.menu-wrapper {
  display: flex;

  @media(max-width: 999px) {
    display: none;
  }
}

.menu-item {
  color: $white;
  cursor: pointer;
  transition: $animation;
  margin-left: 54px;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    color: $pink;
    transition: $animation;
  }
}

.menu-sign {
  display: none;
  transition: $animation;

  @media(max-width: 999px) {
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 9999 !important;
  }

  &:hover {
    transition: $animation;
    cursor: pointer;
    background-color: $pink;
  }
}

.burger-menu {
}

.burger {
  z-index: 9999;
  display: none;
  cursor: pointer;
  transition: $animation;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }

  &.hidden-sign {
    display: none;
    transition: $animation;
  }

  @media(max-width: 999px) {
    display: block;
  }
}

.mobile-menu {
  transition: all 0.4s ease-in-out;
  margin-right: -440px;

  &.menu-active {
    margin-right: 0px !important;
    transition: all 0.4s ease-in-out;
  }

  @media (min-width: 999px) {
    display: none;
  }
}

.hidden-close {
  cursor: pointer;
  display: none;
  transition: $animation;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }

  &.close-sign {
    transition: $animation;
    display: block;
    z-index: 9999 !important;

    @media(max-width: 999px) {
      z-index: 9999;
      display: block !important;
    }
  }
}
</style>
