<template>
  <div class="header-full">
    <div class="header-basic">
      <div class="header-wrapper">
        <div class="number">CUSTOM CARE: 888-23-4567</div>
      </div>

      <div class="header-wrapper2">
        <div class="information">
          <fa icon="dollar-sign"
              class="icon" />

          US
          <fa icon="caret-down"
              class="icon-2" />
        </div>

        <div class="account">
          <fa icon="user"
              class="icon-3" />

          MY ACCOUNT
        </div>

        <div class="closing">
          <fa icon="search"
              class="icon-4" />
        </div>
      </div>
    </div>

    <div class="header-logo">
      <div class="logo-box">
          <img src="@/assets/svg/Group 2.svg">
      </div>

      <div class="wrapper">
        <div class="menu">
          <div class="new">
            new

           <fa icon="caret-down"
              class ="icon-5" />
          </div>

          <div class="new">
            designers

            <fa icon="caret-down"
               class ="icon-5" />
          </div>

          <div class="new">
            women

            <fa icon="caret-down"
                class ="icon-5" />
          </div>

          <div class="new">
            men

            <fa icon="caret-down"
               class ="icon-5" />
          </div>

          <div class="new">
            clearence

            <fa icon="caret-down"
               class ="icon-5" />
          </div>
        </div>

        <div class="basket">
          <div class="search">
            <div>Your cart</div>
            <div>
              <fa icon="caret-down"
                    class="icon-8" />
            </div>
          </div>

          <div class="items">
              <fa icon="shopping-bag"
                    class="icon-7" />
            <div class="box-for-item">
              <div class="items-2">0 ITEMS</div>

              <div class="balance">
                 <fa icon="dollar-sign"
                     class="icon-6" />

                  0
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HeaderOnixel',

  components: {
  },
}
</script>

<style scoped lang="scss">

.balance {
  font-size: 11px;
}

.box-for-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.items-2 {
  font-size: 11px;
  display: flex;
  padding: 0px 5px;
  align-items: center;
  border-right: 1.5px solid #cacaca;

  @media(max-width: 750px) {
    padding: 4px 4px;
    font-size: 10.5px;
    border-right: 1.3px solid #cacaca;
  }

  @media(max-width: 600px) {
    font-size: 10px;
    border-right: 1.1px solid #cacaca;
    padding: 2.5px 2.5px;
  }
}

.items {
  display: flex;
  color: #949393;
  cursor: pointer;
  font-size: 10px;
  padding: 5px 5px;
  align-items: center;
  background-color: #FAFAFA;
  justify-content: space-between;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;

  @media(max-width: 750px) {
    padding: 4px 4px;
    font-size: 9.5px;
  }

  @media(max-width: 600px) {
    font-size: 9px;
  }
}

.search {
  display: flex;
  color: #949393;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 5px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #d6d6d6;
  justify-content: space-between;

  @media(max-width: 750px) {
    padding: 4px 4px;
    font-size: 11.5px;
  }

  @media(max-width: 600px) {
    font-size: 11px;
  }
}

.basket {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;

  @media(max-width: 750px) {
    width: 170px;
  }

  @media(max-width: 650px) {
    width: 160px;
  }

  @media(max-width: 500px) {
    width: 140px;
  }
}

.new {
  margin-right: 25px;
  font-size: 16px;
  letter-spacing: -0.5px;
  cursor: default;

  @media(max-width: 1051px) {
    font-size: 13.5px;
    margin-right: 18px;
  }

  @media(max-width: 950px) {
    font-size: 12.5px;
    margin-right: 14px;
  }

  @media(max-width: 900px) {
    font-size: 12px;
    margin-right: 12px;
  }

  @media(max-width: 862px) {
    font-size: 11.8px;
    margin-right: 9px;
  }

  @media(max-width: 800px) {
    display: none;
  }
}

.header-full {
  width: 100%;
  background-color: #FFFFFF;
}

.menu {
  display: flex;
  padding: 15px;
  font-size: 14px;
  align-items: center;
  background-color: #FFFFFF;
  justify-content: space-around;

  @media(max-width: 1051px) {
    padding: 10px;
  }

  @media(max-width: 900px) {
    padding: 8px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 20px 115px;
  background-color: #FFFFFF;
  justify-content: space-between;

  @media(max-width: 950px) {
    padding: 19px 110px;
  }

  @media(max-width: 900px) {
    padding: 17.5px 100px;
  }

  @media(max-width: 850px) {
    padding: 16px 85px;
  }

  @media(max-width: 800px) {
    padding: 15px 75px;
  }

  @media(max-width: 750px) {
    padding: 14px 65px;
  }

  @media(max-width: 700px) {
    padding: 13px 55px;
  }

  @media(max-width: 650px) {
    padding: 12px 45px;
  }

  @media(max-width: 600px) {
    padding: 11px 35px;
  }

  @media(max-width: 500px) {
    padding: 10px 25px;
  }
}

.logo-box {
  display: flex;
  align-items: center;
}

.header-basic {
  width: 100%;
  display: flex;
  padding: 0px 115px;
  background-color:#000000;
  justify-content: space-between;

  @media(max-width: 950px) {
    padding: 0px 110px;
  }

  @media(max-width: 900px) {
    padding: 0px 100px;
  }

  @media(max-width: 850px) {
    padding: 0px 85px;
  }

  @media(max-width: 800px) {
    padding: 0px 75px;
  }

  @media(max-width: 750px) {
    padding: 0px 65px;
  }

  @media(max-width: 700px) {
    padding: 0px 55px;
  }

  @media(max-width: 650px) {
    padding: 0px 45px;
  }

  @media(max-width: 600px) {
    padding: 0px 35px;
  }

  @media(max-width: 500px) {
    padding: 0px 25px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-wrapper2 {
  display: flex;
}

.number {
  color: #FFFFFF;
  font-size: 10px;

  @media(max-width: 850px) {
    font-size: 9px;
  }
}

.information {
  display: flex;
  padding: 8px;
  display: flex;
  color: #FFFFFF;
  font-size: 10px;
  cursor: pointer;
  align-items: center;
  border-left: 1px solid #444444;

  @media(max-width: 850px) {
    font-size: 9px;
  }
}

.account {
  padding: 8px;
  display: flex;
  color: #FFFFFF;
  font-size: 10px;
  cursor: pointer;
  align-items: center;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;

  @media(max-width: 850px) {
    font-size: 9px;
  }
}

.closing {
  padding: 8px;
  display: flex;
  color: #FFFFFF;
  align-items: center;
  border-right: 1px solid #444444;
}

.icon-2 {
  font-size: 10px;
  cursor: pointer;
  margin-left: 7px;
}

.icon-3 {
  margin: 0px 3px;
  color: #666666;
  font-size: 13px;

  @media(max-width: 850px) {
    font-size: 12px;
  }
}

.icon {
  margin: 0px 2px;
  color: #FFFFFF;
  font-size: 11px;

  @media(max-width: 850px) {
    font-size: 10px;
  }
}

.icon-5 {
  color: #000000;
  font-size: 12px;
  cursor: pointer;
  margin-left: 2px;

  @media(max-width: 1051px) {
    font-size: 11px;
  }

  @media(max-width: 950px) {
    font-size: 10px;
    margin-left: 1,5px;
  }

  @media(max-width: 900px) {
    font-size: 9px;
    margin-left: 1,3px;
  }

  @media(max-width: 850px) {
    font-size: 8px;
    margin-left: 0.8px;
  }
}

.icon-4 {
  margin: 0px 3px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  transform: scale(-1, 1);

  @media(max-width: 950px) {
    font-size: 13px;
  }
}

.icon-6 {
  font-size: 10px;
  margin-left: 7px;

  @media(max-width: 750px) {
    font-size: 9.5px;
    margin-left: 6px;
  }

  @media(max-width: 600px) {
    font-size: 9px;
    margin-left: 5px;
  }
}

.icon-7 {
  font-size: 18px;

  @media(max-width: 750px) {
    font-size: 17px;
  }

  @media(max-width: 600px) {
    font-size: 16px;
  }
}

.icon-8 {
  color: #C1C1C1;
  font-size: 12px;

  @media(max-width: 750px) {
    font-size: 11px;
  }

  @media(max-width: 600px) {
    font-size: 10px;
  }
}
</style>
