<template>
  <div class="box">
    <div class="communication-wrapper">
      <div class="communication">
        <div class="wrapper">
          <div class="circle">
            <fa :icon="['fab','facebook-f']"
                class="icon" />
          </div>

          <div class="text">
           <div>SHARE</div>
           <div>ON FACEBOOK</div>
          </div>
        </div>

        <div class="wrapper">
          <div class="circle">
            <fa :icon="['fab','pinterest']"
                class="icon" />
          </div>

          <div class="text">
           <div>PIN</div>
           <div>THIS PRODUCT</div>
          </div>
        </div>

        <div class="wrapper">
          <div class="circle">
            <fa :icon="['fab','twitter']"
                class="icon" />
          </div>

          <div class="text">
           <div>TWEET</div>
           <div>THIS PRODUCT</div>
          </div>
        </div>

        <div class="wrapper">
          <div class="circle">
            <fa :icon="['fas','envelope']"
                class="icon-special" />
          </div>


          <div class="text">
           <div>EMAIL</div>
           <div>A FRIEND</div>
          </div>
        </div>
      </div>
    </div>

    <div class="description">
      <div class="icon-wrapper">
        <fa :icon="['fas','angle-right']"
            class="angle" />
      </div>
      DESCRIPTION
    </div>

    <div class="information">
      <div class="icon-wrapper">
        <fa :icon="['fas','angle-right']"
            class="angle" />
      </div>
      ADDITIONAL INFORMATION
    </div>

    <div class="reviews">
      <div class="icon-wrapper">
        <fa :icon="['fas','angle-right']"
            class="angle" />
      </div>
      REVIEWS (12)
    </div>

    <div class="links">
      <div class="icon-wrapper">
        <fa :icon="['fas','angle-right']"
            class="angle" />
      </div>
      HELPFUL LINKS
    </div>

    <div class="gift">
      <div class="icon-wrapper">
        <fa :icon="['fas','angle-right']"
            class="angle" />
      </div>
      MAKE A GIFT
    </div>
  </div>
</template>

<script>

export default {
  name: 'InformationBlock',

  components: {
  },
}
</script>

<style scoped lang="scss">

.text {
  display: flex;
  flex-direction: column;

  @media(max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
  }
}

.icon-wrapper {
  display: flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  background-color: #f2b9a4;
  border: 1px solid #ffffff;
}

.angle {
  color: #ffffff;
  margin: 6px 9px;
  font-size: 12px;
}

.reviews {
  width: 100%;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 10px;
  align-items: center;
  background-color: #ffae92;
}

.gift {
  width: 100%;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 10px;
  align-items: center;
  background-color: #fd926d;
}

.links {
  width: 100%;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 10px;
  align-items: center;
  background-color: #ffa687;
}

.information {
  width: 100%;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 10px;
  align-items: center;
  background-color: #ffcab8;
}

.description {
  width: 100%;
  display: flex;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 10px;
  align-items: center;
  background-color: #ffd5c6;
}

.icon-special {
  color: #b8a9a4;
  font-size: 15px;
}

.icon {
  color: #b8a9a4;
  font-size: 20px;
}

.circle {
  width: 45px;
  height: 45px;
  display: flex;
  cursor: pointer;
  margin-right: 5px;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  border: 1.5px solid #b8a9a4;

  @media(max-width: 767px) {
    margin-right: 0px;
  }
}

.wrapper {
  display: flex;
  color: #4d4d4d;
  font-size: 10px;
  cursor: default;
  font-weight: 400;
  align-items: center;
  justify-content: flex-start;

  @media(max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
  }
}

.communication-wrapper {
  width: 100%;
  padding: 40px 0px;
}

.communication {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding: 15px 0px;

  @media(max-width: 767px) {
    padding: 10px 0px;
  }
}

.box {
  width: 100%;
  display: flex;
  padding: 0px 115px;
  flex-direction: column;
  background-color: #ffffff;

  @media(max-width: 950px) {
    padding: 0px 110px;
  }

  @media(max-width: 900px) {
    padding: 0px 100px;
  }

  @media(max-width: 850px) {
    padding: 0px 85px;
  }

  @media(max-width: 800px) {
    padding: 0px 75px;
  }

  @media(max-width: 750px) {
    padding: 0px 65px;
  }

  @media(max-width: 700px) {
    padding: 0px 55px;
  }

  @media(max-width: 650px) {
    padding: 0px 45px;
  }

  @media(max-width: 600px) {
    padding: 0px 35px;
  }

  @media(max-width: 500px) {
    padding: 0px 25px;
  }
}

</style>
