<template>
  <div class="mailing-wrapper">
    <div class="first-column">
      <div class="f-text">
        Следите за нашей компанией, подпишитесь на рассылку, мы не будем навязчивыми
      </div>

      <div class="s-text">
        Новости выходят один раз в неделю в самом лучшем формате
      </div>
    </div>

    <div class="second-column">
      <input class="input-item"
             placeholder="Ваш email">

      <div class="agreement-wrapper">
        <input class="form-check"
               id="agreement"
               type="checkbox">

        <label class="agreement"
               for="agreement">Согласен с
           <router-link :to="{ name: 'staticPage', params: { alias: 'agreement' } }"
                        target="_blank"
                        class="agreement-link">
             условиями
           </router-link>
           сервиса
        </label>
      </div>

      <div class="buttons-wrapper">
        <button class="follow">
          Подписаться
        </button>

        <button class="refuse">
          Не хочу
        </button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Mailing',

  components: {
  },
}
</script>

<style scoped lang="scss">
.mailing-wrapper {
  display: flex;
  justify-content: center;
  padding: 75px 100px 92px 100px;

  @media(max-width: 999px) {
    flex-direction: column;
    align-items: center;
    padding: 45px 30px 94px 30px;
  }
}

.first-column {
  margin-right: 120px;
  max-width: 530px;
  width: 530px;

  @media(max-width: 1365px) {
    max-width: 370px;
    width: 370px;
    margin-right: 30px;
  }

  @media(max-width: 999px) {
    max-width: 500px;
    width: 100%;
    margin: 0px;
  }
}

.second-column {

  @media(max-width: 1365px) {
    max-width: 370px;
    width: 370px;
    margin-right: 30px;
  }

  @media(max-width: 999px) {
    margin-top: 29px !important;
    max-width: 500px;
    width: 100%;
    margin: 0px;
  }
}

.f-text {
  line-height: 1.45;
  font-size: 22px;
  color: $dark-blue;
}

.s-text {
  color: $light-grey;
  font-size: 14px;
  margin-top: 65px;
  line-height: 1.43;

  @media(max-width: 1365px) {
    margin-top: 33px;
  }

  @media(max-width: 999px) {
    margin-top: 19px;
  }
}

.input-item {
  @include input-item;

  color: $dark-blue;
}

.agreement-wrapper {
  margin-top: 27px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.form-check {
  cursor: pointer;
  margin-right: 15px;
  background-color: $white;
}

.agreement {
  @include agreement;
}

.agreement-link {
  color: $pink;
  text-decoration: none;
  transition: $animation;
  margin: 0px 4px;

  &:hover {
    transition: $animation;
    opacity: 0.75;
  }
}

.buttons-wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.follow {
  @include button;

  width: 187px;
  font-size: 16px;
  height: 44px;
}

.refuse {
  @include button;

  height: 44px;
  margin-left: 17px;
  width: 137px;
  font-size: 16px;
  background-color: white;
  color: $pink;
  border: 1px solid $pink !important;
  transition: all 0.5s ease-in-out;


  &:hover {
    transition: all 0.5s ease-in-out;
    border: 1px solid $dark-pink !important;
    color: $white;
  }
}
</style>
