<template>
  <div class="mobile-menu">
    <div class="mobile-wrapper">
      <div class="logo-wrapper">
        <img src="@/assets/svg/logo.svg"
             class="logo" />
      </div>
      <div class="menu-wrapper">
        <div class="menu-item">
          <router-link to="/"
                       class="item-caption">
             О компании
          </router-link>
        </div>

        <div class="menu-item">
          <router-link to="/"
                       class="item-caption">
             Кейсы
          </router-link>
        </div>

        <div class="menu-item">
          <router-link to="/"
                       class="item-caption">
             Контакты
          </router-link>
        </div>

        <button class="order">
          Заказать
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'MobileMenu',

  data: () => ({
    activeFirstCategories: false,
    activeSecondCategories: false,
    activeThirdCategories: false,
  }),

  computed: {
    ...mapState(['apiServer']),
  },
}
</script>

<style lang="scss" scoped>
.mobile-menu {
  top: 0px;
  right: 0px;
  position: fixed;
  height: 100%;
  width: 400px;
  max-width: 100%;
  z-index: 1;
  color: $white;
  padding: 23px 0px;
  font-family: $regular !important;
  overflow-y: auto;
  background-color: $dark-blue;
}

.logo-wrapper {
  padding: 0px 30px 15px 30px;
  border-bottom: 1px solid white;
}

.menu-wrapper {
  padding: 61px 30px 14px 30px;
}

.menu-item {
  width: 100%;
  margin-bottom: 5px;
  text-decoration: none !important;
  padding: 0px;
}

.item-caption {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 24px;
  color: $white;
  cursor: pointer;
  transition: $animation;

  &:hover {
    color: $pink;
    text-decoration: none;
    transition: $animation;
  }
}

.order {
  @include button;

  width: 216px;
  height: 65px;
  border-radius: 12px;
}
</style>
