<template>
  <div class="mobile-menu">
    <div class="mobile-wrapper">
      <div class="logo-wrapper">
        <img src="@/assets/zm/svg/logo-zm.svg"
             class="logo" />
      </div>
      <div class="menu-wrapper">
        <div class="menu-item-special"
             @click="$eventBus.$emit('toggleDropdown')">
          <div class="status-sign"> </div>

          <div class="profile-pic" />

          <dropdown class="dropdown"
                    :class="{ 'dropdown-active': activeDropdown }" />
        </div>

        <div class="menu-item-spec">
          <div class="add-wrapper">
            <img src="@/assets/zm/svg/plus.svg"
                 class="plus" />

            <div class="item-caption"> Добавить </div>
          </div>

          <div class="search-wrapper">
            <img src="@/assets/zm/svg/search.svg"
                 class="search" />
          </div>
        </div>

        <div class="menu-item">
          <div class="form-wrapper">
            <div class="form">
              <div class="place"> Санкт-Петербург </div>

              <div class="type"> Вид отдыха </div>
            </div>

            <div class="enter-button">
              <img src="@/assets/zm/svg/arrow-right-1.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Dropdown from '@/components/Dropdown.vue'

export default {
  name: 'MobileMenuZnaiMesta',

  components: {
    Dropdown,
  },

  data: () => ({
    activeDropdown: false,
  }),

  computed: {
    ...mapState(['apiServer']),
  },

  created () {
    this.$eventBus.$on('toggleDropdown', () => {
      this.activeDropdown = !this.activeDropdown
    })
  },
}
</script>

<style lang="scss" scoped>
.mobile-menu {
  top: 0px;
  right: 0px;
  position: fixed;
  height: 100%;
  width: 400px;
  max-width: 100%;
  z-index: 1;
  color: $white;
  padding: 23px 0px;
  font-family: $regular !important;
  overflow-y: auto;
  background-color: $dark-blue;
}

.logo-wrapper {
  padding: 0px 30px 15px 30px;
  border-bottom: 1px solid white;
}

.menu-wrapper {
  padding: 30px;
  margin-top: 20px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-image: url('../assets/zm/profile-pic.jpg');
  background-position: center center;
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid $green-10;
  transition: $animation;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transition: $animation;
  }
}

.status-sign {
  content: '';
  width: 15px;
  height: 15px;
  background-color: $red-30;
  border-radius: 50%;
  position: absolute;
  z-index: 997;
  margin-left: 33px;
  margin-top: 35px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5px;
  text-decoration: none !important;
  padding: 0px;
  transition: $animation;
}

.menu-item-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  text-decoration: none !important;
  padding: 0px;
  transition: $animation;
}

.search {
  cursor: pointer;
  transition: $animation;

  &:hover {
    transition: $animation;
    opacity: 0.8;
  }
}

.menu-item-special {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  text-decoration: none !important;
  padding: 0px;
  transition: $animation;
  margin-bottom: 30px;
}

.plus {
  transition: $animation;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    transition: $animation;
    opacity: 0.8;
  }
}

.item-caption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 20px;
  color: $white;
  cursor: pointer;
  transition: $animation;

  &:hover {
    color: $yellow;
    transition: $animation;
  }
}

.add-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 29px;
}

.form {
  padding-top: 5px;
  padding-bottom: 4px;
  color: $grey-80;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  border-radius: 50px 0 0 50px;
  height: 29px;
  width: 305px;
}

.place {

}

.type {
  padding-left: 15px;
  margin-right: 5px;
  border-left: 1px solid $grey-20;
  color: $grey-60;
}

.enter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  width: 33px;
  height: 29px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }
}

.dropdown {
  transition: $animation;
  display: none;
  margin-top: 0px;
  z-index: 9999;
  width: 200px;
  margin-top: 110px;
}

.dropdown-active {
  transition: $animation;
  display: block;
}
</style>
