<template>
  <div class="box">
    <b-col class="product-image-wrapper"
           xl="5"
           lg="5"
           md="5"
           sm="12">
        <progressive-background src="https://sun9-42.userapi.com/c200820/v200820833/2722b/skpuhxbieL4.jpg"
                                class="main-image" />

      <div class="image-wrapper">
        <progressive-background src="https://sun9-25.userapi.com/c204724/v204724081/2a350/X0dAUyeuhvc.jpg"
                                class="indent" />
        <progressive-background src="https://sun9-24.userapi.com/c204724/v204724081/2a357/Jd4c96qffQY.jpg"
                                class="indent" />
        <progressive-background src="https://sun9-71.userapi.com/c204724/v204724081/2a35e/Nq7BC5EKYG4.jpg"
                                class="indent" />
        <progressive-background src="https://sun9-51.userapi.com/c204724/v204724081/2a365/jdDr0fC0tg4.jpg"
                                class="indent" />
      </div>
    </b-col>

    <b-col class="product-info-wrapper"
           xl="7"
           lg="7"
           md="7"
           sm="12">
      <div class="return">
        <fa icon="angle-left"
            class="angle" />
        <div class="back-color">Back to</div>
        <div class="women-color">Women's Clothing</div>
      </div>

      <div class="product-name">Sofi Blouse</div>

      <div class="flex-wrapper">
        <div class="price">$ 98.95</div>

        <div class="colors-wrapper">
          <div class="reviews">12 reviews</div>

          <div class="square-wrapper">
            <div class="square"></div>

            <div class="square"></div>

            <div class="square"></div>

            <div class="square special"></div>

            <div class="square"></div>
          </div>
        </div>
      </div>

      <div class="text">This is Photoshop's version  of Lorem Ipsum. Proin
        gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
        elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
        ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis
        dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut
        imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra,
        erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa
        nisl quis neque. Suspendisse in orci enim.</div>

      <div class="choice">
        <div class="select-size">
          Select size
          <div class="button">
            <fa icon="caret-down"
                  class="caret" />
          </div>
        </div>
        <div class="square-wrapper">
          <div class="square-v2"></div>
          <div class="square-v2"></div>
          <div class="square-v3"></div>
          <div class="square-v4"></div>
          <div class="square-v2"></div>
        </div>
      </div>

      <div class="quantity-wrapper">
        <div class="quantity">
          <div class="plus">+</div>
          <div class="number">1</div>
          <div class="plus">+</div>

        <b-button class="add">
          <div class="cart">ADD TO CART</div>

            <fa icon="plus"
                class="icon" />
          </b-button>
        </div>
      </div>
    </b-col>
  </div>
</template>

<script>

export default {
  name: 'ProductItem',

  components: {
  },
}
</script>

<style scoped lang="scss">

.price {
  cursor: default;
}

.main-image {
  cursor: zoom-in;
}

.indent {
  cursor: zoom-in;
  margin: 0px 10px;

  &:last-child {
    margin-right: 0px !important;
  }

  &:first-child {
    margin-left: 0px !important;
  }
}

.image-wrapper {
  display: flex;
  padding-top: 10px;
  justify-content: flex-start;
}

.add {
  border: none;
  width: 150px;
  display: flex;
  margin-left: 15px;
  padding: 11.5px 13px;
  background-color: #fd926d;
  justify-content: space-between;
  border-bottom: 3px solid #dd6b44 !important;

  &:hover {
    background-color: #fd926d !important;
  }

  &:focus {
    outline: none  !important;
    background-color: #fd926d !important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
  }

  &:active {
    outline: none !important;
    background-color: #fd926d !important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
  }

  &:-moz-focus-inne {
     border: 0px !important;
  }
}

.quantity-wrapper {
  display: flex;
  align-items: center;
}

.cart {
  color: #ffffff;
  font-size: 11px;
}

.icon {
  color: #ffffff;
  font-size: 14px;
}

.number {
  color: #ffffff;
  font-size: 12px;
  cursor: default;
  padding: 12px 20px;
  background-color: #feb298;
}

.plus {
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  padding: 10px 18px;
  background-color: #fd926d;
  border-bottom: 3px solid #dd6b44;
}

.quantity {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-start;
}

.square-v4 {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 2px;
  background-color: #968886;
}

.square-v3 {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 2px;
  background-color: #b29b88;
}

.square-v2 {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 2px;
  background-color: #c9c1c6;

  &:last-child {
    background-color: #cde0ef;
  }

  &:first-child {
    background-color: #efebe2;
  }
}

.caret {
  color: #6a6a6a;
  font-size: 14px;
}

.button {
  width: 25px;
  height: 25px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

.select-size {
  width: 150px;
  height: 25px;
  display: flex;
  color: #4d4d4d;
  font-size: 12px;
  cursor: default;
  padding-left: 3px;
  align-items: center;
  letter-spacing: -0.3px;
  background-color: #f4f4f4;
  justify-content: space-between;
}

.choice {
  display: flex;
  margin-top: 20px;
  padding: 5px 0px;
  align-items: center;
  border-top: 1px solid #d6d6d6;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
}

.text {
  color: #8f8f8f;
  font-size: 12px;
  margin: 10px 0px;
}

.special {
  background: linear-gradient(to right, #000000 50%, #d1d1d1 50%) !important;
}

.square-wrapper {
  display: flex;
  justify-content: flex-start;
}

.square {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 1px;
  background-color: #000000;

  &:last-child {
    background-color: #d1d1d1;
  }
}

.reviews {
  cursor: default;
  margin-right: 5px;
  font-weight: 400 !important;
  color: #909090 !important;
  font-size: 12px !important;
}

.colors-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-wrapper {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;

  div {
    &:first-child {
      color: #fd926d;
      font-size: 30px;
      font-weight: 600;
    }
  }
}

.product-image-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0px;

  @media(max-width: 767px) {
    padding: 0px 0px;
  }
}

.product-info-wrapper {
  margin-top: 20px;
  padding-right: 0px;

  @media(max-width: 767px) {
    padding: 0px 0px;
  }
}

.product-name {
  color: #4a4a4a;
  font-size: 20px;
  cursor: default;
  padding-top: 10px;
  border-top: 1px solid #d6d6d6;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.women-color {
  color: #fd9a79;
  cursor: pointer;
  margin-left: 3px;
  font-size: 11.5px;
}

.angle {
  color: #d6d6d6;
  cursor: pointer;
  margin-right: 10px;
}

.return {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.back-color {
  color: #8f8f8f;
  cursor: pointer;
  font-size: 11.5px;
}

.box {
  display: flex;
  padding: 0px 115px;
  align-items: flex-start;
  justify-content: flex-start;

  @media(max-width: 950px) {
    padding: 0px 110px;
  }

  @media(max-width: 900px) {
    padding: 0px 100px;
  }

  @media(max-width: 850px) {
    padding: 0px 85px;
  }

  @media(max-width: 800px) {
    padding: 0px 75px;
  }

  @media(max-width: 767px) {
    display: flex;
    flex-direction: column;
  }

  @media(max-width: 750px) {
    padding: 0px 65px;
  }

  @media(max-width: 700px) {
    padding: 0px 55px;
  }

  @media(max-width: 650px) {
    padding: 0px 45px;
  }

  @media(max-width: 600px) {
    padding: 0px 35px;
  }

  @media(max-width: 500px) {
    padding: 0px 25px;
  }
}
</style>
