<template>
  <div class="profile-wrapper">
    <div class="wrapper-1">
    </div>

    <div class="wrapper-nav">
      <div class="wrapper-left">
        <div class="social-media">
          <img src="@/assets/zm/svg/vk.svg"
               class="icon" />

          <img src="@/assets/zm/svg/fb.svg"
               class="icon" />

          <img src="@/assets/zm/svg/ig.svg"
               class="icon" />
        </div>
      </div>

      <div class="wrapper-middle">
        <div class="profile-pic">
        </div>

        <div class="status"> Бывалый </div>
      </div>

      <div class="wrapper-right">
        <div class="follow">
          Подписаться
        </div>
      </div>
    </div>

    <div class="wrapper-5">
      <div class="wrapper-bottom">
        <img src="@/assets/zm/svg/plus-orange.svg"
             class="plus" />

        <div class="add">
          Добавить
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="first-line">
        <div class="address-wrapper">
          <img src="@/assets/zm/svg/map.svg"
               class="icon-map" />

          <span class="text"> Москва </span>
        </div>

        <div class="">
          <img src="@/assets/zm/svg/more.svg"
               class="icon-more"
               @click="$eventBus.$emit('toggleReport')" />

          <div class="report"
               :class="{ 'report-active': activeReport }">
            <span class="report-text"> Пожаловаться </span>
          </div>
        </div>

        <div class="settings-wrapper">
          <img src="@/assets/zm/svg/settings.svg"
               class="settings-icon" />

          <img src="@/assets/zm/svg/bookmark.svg"
               class="settings-icon" />

          <img src="@/assets/zm/svg/calendar.svg"
               class="settings-icon" />
        </div>
      </div>

      <div class="profile-information">
        <div class="name"> Александра Александрова </div>

        <div class="profile-link"> @aleksandraalexandrova_1994 </div>

        <div class="profile-description"> С развитием камер смартфонов в путешествиях становится удобнее снимать на телефон, а большие зеркалки все чаще остаются дома. </div>

        <div class="subs-wrapper">
          <div class="subs"> Подписчики
            <span class="number"> 2780 </span>
          </div>

          <div class="following"> Подписки

            <span class="number"> 125</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ProfileZnaiMesta',

  components: {

  },

  data: () => ({
    activeReport: false,
  }),

  computed: {
    ...mapState(['apiServer']),
  },

  created () {
    this.$eventBus.$on('toggleReport', () => {
      this.activeReport = !this.activeReport
    })
  },
}
</script>

<style scoped lang="scss">
.profile-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.wrapper-1 {
  background-image: url('../assets/zm/bg-pic.png');
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  position: absolute;
  height: 100%;
  max-height: 337px;

  @media(max-width: 1800px) {
    background-size: cover;
  }
}

.content-wrapper {
  position: absolute;
  margin-top: 241px;
  z-index: 999 !important;
  height: 241px;
  width: 1064px;
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
  padding: 18px 35px 34px 31px;

  @media(max-width: 1100px) {
    width: 860px;
  }

  @media(max-width: 900px) {
    width: 660px;
  }

  @media(max-width: 690px) {
    height: auto;
    max-height: none !important;
    min-height: 310px;
    width: 390px;
  }
}

.social-media {
  margin-top: 202.5px;
  width: 195px;
  height: 46px;
  background-color: $grey-30;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
  z-index: 1;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: 690px) {
    width: 110px;
    padding: 10px 15px;
  }
}

.follow {
  margin-top: 202.5px;
  width: 195px;
  height: 46px;
  background-color: $yellow;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 14px rgba(87, 87, 87, 0.34);
  z-index: 1;
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: $animation;

  &:hover {
    opacity: 0.8;
    transition: $animation;
  }

  @media(max-width: 690px) {
    width: 110px;
    font-size: 16px;
    padding: 10px;
  }
}

.wrapper-nav {
  width: 1064px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media(max-width: 1100px) {
    width: 860px;
  }

  @media(max-width: 900px) {
    justify-content: space-between !important;
    width: 660px;
  }

  @media(max-width: 690px) {
    width: 390px;
  }
}

.wrapper-left {
  display: flex;
  width: 195px;
}

.icon {
  cursor: pointer;
  transition: $animation;

  &:hover {
    opacity: 0.8;
    transition: $animation;
  }
}

.wrapper-middle {
  display: flex;
  justify-content: center;
  width: 175px;
  margin-top: 120px;
  z-index: 9999;

  @media(max-width: 690px) {
    margin-top: 140px;
  }
}

.wrapper-right {
  justify-content: flex-end;
  display: flex;
  width: 195px;
}

.wrapper-5 {
  position: absolute;
  width: 1064px;
  display: flex;
  justify-content: center;

  @media(max-width: 1100px) {
    width: 860px;
  }

  @media(max-width: 900px) {
    width: 660px;
  }

  @media(max-width: 690px) {
    width: 390px;
  }
}

.wrapper-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 478px;
  width: 134px;
  z-index: 999;
  height: 43px;
  z-index: 99;
  background-color: $white;
  box-shadow: 0px 4px 14px rgba(219, 228, 227, 0.34);
  border-radius: 8px;
  cursor: pointer;
  transition: $animation;

  &:hover {
    transition: $animation;
    opacity: 0.8;
  }

  @media(max-width: 690px) {
    margin-top: 548px;
  }

  .add {
    color: $orange;
    font-weight: 500;
    font-size: 14px;
    margin-left: 9px;
  }
}

.profile-pic {
  width: 175px;
  height: 175px;
  background-image: url('../assets/zm/profile-pic.jpg');
  background-position: center center;
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px solid $green-10;

  @media(max-width: 690px) {
    width: 140px;
    height: 140px;
  }
}

.status {
  position: absolute;
  padding: 3px 23px;
  background-color: $green-10;
  color: $green-60;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 155px !important;

  @media(max-width: 690px) {
    padding: 3px 15px;
    margin-top: 125px !important;
  }
}

.icon {
  cursor: pointer;
  transition: $animation;

  &:hover {
    opacity: 0.8;
    transition: $animation;
  }
}

.first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-wrapper {
  color: $blue-30;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: $animation;
  border-bottom: 1px dashed $blue-30;
  width: 81px;

  &:hover {
    opacity: 0.8;
    transition: $animation;
  }

  .icon-map {
    margin-right: 5px;
    cursor: pointer;
  }

  .text {
    cursor: pointer;
  }
}

.icon-more {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: $animation;
  }
}

.report {
  margin-top: 5px;
  position: absolute;
  padding: 7px 15px;
  background-color: $white;
  box-shadow: 0px 2px 14px rgba(53, 52, 63, 0.1);
  border-radius: 8px;
  color: $grey-60;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

.report-text {
  transition: $animation;

  &:hover {
    opacity: 0.8;
    transition: $animation;
  }
}

.report-active {
  display: block;
}

.profile-information {
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  color: $grey-60;
}

.name {
  color: $grey-90;
  font-size: 24px;
}

.profile-link {
  margin-top: 5px;
  font-size: 14px;
}

.profile-description {
  margin-top: 10px;
  max-width: 490px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.subs-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subs {
  margin-right: 27px;
  font-weight: 400;
  font-size: 18px;
}

.following {
  font-weight: 400;
  font-size: 18px;
  margin-left: 27px;
}

.number {
  margin-left: 5px;
  color: $orange;
}

.settings-wrapper {
  position: absolute;
  bottom: 0px;
  margin-bottom: 31px;

  @media(max-width: 690px) {
    margin-bottom: 13px;
  }

  .settings-icon {
    cursor: pointer;
    transition: $animation;
    margin-right: 15px;

    &:hover {
      transition: $animation;
      opacity: 0.8;
    }
  }
}
</style>
