<template>
  <div class="box-wrapper">
    <div class="header-wrapper">
      <div class="line-wrapper"></div>

      <div class="text">RELATED PRODUCTS</div>

      <div class="line-wrapper"></div>
    </div>

    <div class="box">
     <div class="image-wrapper">
        <progressive-background src="@/assets/dress.png" />
       </div>

     <div class="image-wrapper">
        <progressive-background src="https://sun9-17.userapi.com/c206528/v206528930/2f1b9/em4TstkUra0.jpg" />
      </div>

     <div class="image-wrapper">
        <progressive-background src="https://sun9-17.userapi.com/c206528/v206528930/2f1b9/em4TstkUra0.jpg" />
      </div>

     <div class="image-wrapper">
        <progressive-background src="https://sun9-17.userapi.com/c206528/v206528930/2f1b9/em4TstkUra0.jpg" />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'RelatedProducts',

  components: {
  },
}
</script>

<style scoped lang="scss">

.image-wrapper {
  position: relative;
}


.image {
  margin: 0px 15px;
  cursor: zoom-in;

  &:last-child {
    margin-right: 0px !important;
  }

  &:first-child {
    margin-left: 0px !important;
  }
}

.box {
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding: 0px 115px;
  position: relative;
  justify-content: flex-start;

  @media(max-width: 950px) {
    padding: 0px 110px;
  }

  @media(max-width: 900px) {
    padding: 0px 100px;
  }

  @media(max-width: 850px) {
    padding: 0px 85px;
  }

  @media(max-width: 800px) {
    padding: 0px 75px;
  }

  @media(max-width: 750px) {
    padding: 0px 65px;
  }

  @media(max-width: 700px) {
    padding: 0px 55px;
  }

  @media(max-width: 650px) {
    padding: 0px 45px;
  }

  @media(max-width: 600px) {
    padding: 0px 35px;
  }

  @media(max-width: 500px) {
    padding: 0px 25px;
  }
}

.text {
  color: #414141;
  font-size: 15px;
  margin: 0px 5px;
  font-weight: 550;
  white-space: pre;
}

.line-wrapper {
  width: 100%;
  height: 1.5px;
  background-color: #d8d8d8;
}

.box-wrapper {
  width: 100%;
}

.header-wrapper {
  width: 100%;
  display: flex;
  padding: 40px 0px;
  align-items: center;
  justify-content: center;
}

</style>
