<template>
  <div class="slider-wrapper">
    <div class="overlay-wrapper">
      <div class="info">
        <div class="title"> Мы - лучшая компания в Мире </div>

        <div class="description"> Предоставляем любые услуги в любом бизнесе в день обращения </div>

        <button class="order">
          Заказать
        </button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Slider',

  components: {
  },
}
</script>

<style scoped lang="scss">
.slider-wrapper {
  color: $dark-blue;
}

.overlay-wrapper {
  height: 450px;
  width: 100%;
  background: url('../assets/bg-pic.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width: 999px) {
    background-position: center center;
  }
}

.info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media(max-width: 999px) {
    padding: 0px 30px;
  }
}

.title {
  font-size: 42px;
  font-weight: 700;

  @media(max-width: 999px) {
    font-size: 32px;
    max-width: 340px;
  }
}

.description {
  margin: 33px 0px 31px 0px;
  max-width: 710px;
  font-size: 28px;
  font-weight: 400;

  @media(max-width: 1365px) {
    max-width: 640px;
  }

  @media(max-width: 999px) {
    font-size: 18px;
    max-width: 350px;
  }
}

.order {
  @include button;
}
</style>
