<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'app',
  
  components: {
  },
}
</script>

<style lang="scss">
#app {
  color: $black;
  position: relative;
  width: 100%;
  height: 100%;
}
</style>
