@mixin button {
  display: block;
  height: 58px;
  outline: none;
  width: 225px;
  color: $white;
  font-size: 20px;
  transition: $animation;
  border: none !important;
  background-color: $pink;
  border-radius: 8px;
  font-family: $regular !important;
  font-weight: 600;

  &:hover {
    transition: $animation;
    background-color: $dark-pink;
    cursor: pointer;
  }
}

@mixin input-item {
  margin: 0px;
  border: 1px solid $light-grey;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  color: $light-grey;
  height: 44px;
  display: block;
  background-color: $white;
  outline: $pink;
  width: 524px;
  max-width: 100%;
  min-width: 100%;
  padding: 0px 20px;
  font-family: $regular !important;

  &:hover {
    border: 1px solid $pink;
    outline: $pink !important;
  }

  &:active {
    border: 1px solid $pink;
    outline: $pink !important;
  }

  &:focus {
    border: 1px solid $pink;
    outline: $pink !important;
  }

  @media(max-width: 1365px) {
    width: 400px;
  }

  @media(max-width: 999px) {
    width: 340px;
  }
}

@mixin agreement {
  text-align: left;
  font-weight: 400;
  color: $dark-blue;
  font-size: 16px;
  margin-bottom: 0px;
  font-family: $regular !important;
  display: flex;
  align-items: center;
  outline: none !important;
}
