html, body {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: $regular !important;
  overflow-x: hidden !important;
  transform-style: preserve-3d;
}

html, body, #app {
  height: 100% !important;
}

input[type="checkbox"] {
  display:none;

  &:hover {
    border: 1px solid $pink !important;
  }
}

input[type="checkbox"] + label {
  cursor: pointer;
  outline: none !important;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 19px;
    width: 19px;
    margin: 0px 10px 0px 0px;
    background-color: $white;
    border-radius: 3px;
    border: 1px solid $light-grey;
    outline: none !important;

    &:hover {
      border: 1px solid $pink !important;
    }
}

input[type="checkbox"]:checked + label::before {
    background-position: 0;
    background-image: url('~@/assets/svg/checked.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-color: $pink;
    outline: none !important;
    border: 1px solid $pink !important;

    &:hover {
      border: 1px solid $pink !important;
    }
}
