$red: red;
$white: white;
$black: black;
$pink: #e43898;
$grey: #f2f4f5;
$dark-blue: #0f2135;
$dark-pink: #9f0e60;
$light-grey: #7f8d9c;

$animation: all 0.25s ease-in-out;

$regular: 'Montserrat', sans-serif;


// znaimesta

$yellow: #FFD500;
$red-30: #FF8181;
$orange: #F2A000;
$blue-30: #2F80ED;
$blue-90: #002239;
$grey-20: #E6E6E6;
$grey-30: #F5F5F5;
$grey-60: #A3A3A3;
$grey-80: #404040;
$grey-90: #232323;
$green-10: #BBF472;
$green-60: #6BAE17;

$roboto: 'Roboto', sans-serif;
